{% extends "base.html" %}
{% load static %}
{% block title %} History {% endblock %}
{% block navbar %} {% include "components/sidebar.html"%} {% endblock navbar%}
{% block header %} {% include "components/header.html" %}{% endblock %}
{% block contents %}
<div class="max-w-6xl mx-auto p-6">
  <h1 class="text-3xl font-bold text-center mb-8">Riwayat Peminjaman</h1>

  <div class="overflow-x-auto bg-white shadow rounded-lg">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Barang</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Jumlah</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Waktu Pinjam</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Waktu Kembali</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for lending in peminjaman %}
        {% if lending.client == user %}
        <tr>
          {% if lending.status == "Dikembalikan" or lending.status == "Dibatalkan" %}
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{lending.item}}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ lending.lending_quantity }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ lending.date_lending}}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ lending.return_time}}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ lending.status }}</td>
          {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock contents %}