{% extends 'base.html'%} 
{% load static %} 
{% block title %} Profile{% endblock %} 

{% block navbar %} {% include "components/sidebar.html" %} {% endblock navbar%}
{% block header %} {% include "components/header.html" %}{% endblock %}

{% block contents%}
<h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Edit Your Account</h2>
{{ editform.errors.items}}
<form action="{% url 'profile'%}" method="POST" enctype="multipart/form-data" class="space-y-6">
  {% csrf_token %}
  <div>
    <label for="name" class="block text-sm font-medium text-gray-700">Username</label>
    {{ editform.username}}
  </div>

  <div>
    <label for="firstname" class="block text-sm font-medium text-gray-700">Firstname</label>
    {{ editform.first_name}}
  </div>

  <div>
    <label for="lastname" class="block text-sm font-medium text-gray-700">Lastname</label>
    {{ editform.last_name }}
  </div>

  <div>
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    {{ editform.email }}
  </div>

  <div>
    <label for="phone" class="block text-sm font-medium text-gray-700">Phonenumber</label>
    {{editform.phonenumber}}
  </div>

  <div class="flex justify-center">
    <input type="submit" placeholder="Simpan perubahan" class="px-6 py-2 bg-blue-600 text-white rounded-lg font-medium hover:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
  </div>
</form>

<div class="mt-8 space-y-4">
            <!-- Logout Button -->
  <div class="flex justify-center">
    <form action="{% url 'logout'%}" method="POST">{% csrf_token %}<button onclick="window.location.href='/logout'" class="w-full sm:w-auto px-6 py-2 bg-red-600 text-white rounded-lg font-medium hover:bg-red-700 focus:outline-none transition duration-300 ease-in-out">Logout</button></form>
  </div>

  <div class="flex justify-center">
    <button onclick="window.location.href='{% url 'password_reset'%}'" class="w-full sm:w-auto px-6 py-2 bg-yellow-500 text-white rounded-lg font-medium hover:bg-yellow-600 focus:outline-none transition duration-300 ease-in-out">Reset Password</button>
  </div>

            <!-- Change Password Button -->
  <div class="flex justify-center">
    <button onclick="window.location.href='/change-password'" class="w-full sm:w-auto px-6 py-2 bg-green-600 text-white rounded-lg font-medium hover:bg-green-700 focus:outline-none transition duration-300 ease-in-out">Change Password</button>
  </div>
</div>
{% endblock %}
